### Multiplication table

In [6]:
num= int(input('Enter a no: '))
for i in range(1, 11):
    print( f" {i} * {num} = {i*num}")

Enter a no: 2
 1 * 2 = 2
 2 * 2 = 4
 3 * 2 = 6
 4 * 2 = 8
 5 * 2 = 10
 6 * 2 = 12
 7 * 2 = 14
 8 * 2 = 16
 9 * 2 = 18
 10 * 2 = 20

### Reversed Multiplication table

In [6]:
num= int(input('Enter a no: '))
for i in reversed(range(1, 11)):
    print( f" {i} * {num} = {i*num}")

Enter a no: 2
 10 * 2 = 20
 9 * 2 = 18
 8 * 2 = 16
 7 * 2 = 14
 6 * 2 = 12
 5 * 2 = 10
 4 * 2 = 8
 3 * 2 = 6
 2 * 2 = 4
 1 * 2 = 2

In [14]:
num= int(input('Enter a no: '))
for i in range(10, 0, -1):
    print( f" {i} * {num} = {i*num}")

Enter a no: 2
 10 * 2 = 20
 9 * 2 = 18
 8 * 2 = 16
 7 * 2 = 14
 6 * 2 = 12
 5 * 2 = 10
 4 * 2 = 8
 3 * 2 = 6
 2 * 2 = 4
 1 * 2 = 2

### Prime numbers

In [17]:
num= int(input('Enter a no: '))
prime= True

for i in range(2,num):
    if num%i ==0 :
        prime= False
        break
if prime:
    print('The given number is prime')
else:
    print('The given number is not prime')

Enter a no: 7
The given number is prime

### Factorial

In [21]:
num= int(input('Enter a no: '))
fact= 1

for i in range(1, num+1):
    fact *= i
print(f'Factorial of {num} is {fact}')

Enter a no: 5
Factorial of 5 is 120

### Pattern

In [21]:
''' 
*
**
*** 
'''
n= int(input('Enter a no: '))

for i in range(n):
    print( '*' * (i+1))

Enter a no: 4
*
**
***
****

In [24]:
''' *
   ***
  ***** 
'''

n= int(input('Enter a no: '))

for i in range(n):
    print( ' ' * (n-i-1), end='')
    print( '*' * (2*i+1))

Enter a no: 3
  *
 ***
*****

In [37]:
def greet(name):
    print('Good morning ' + name)
    
greet('Vishakha')

Good morning Vishakha

In [38]:
import pandas as pd

In [45]:
my_dict = {'Computer':1500,'Monitor':300,'Printer':150,'Desk':250}

print (my_dict)

df = pd.DataFrame(list(my_dict.items()),columns = ['Products','Prices'])
df

{'Computer': 1500, 'Monitor': 300, 'Printer': 150, 'Desk': 250}

   Products  Prices
0  Computer    1500
1   Monitor     300
2   Printer     150
3      Desk     250

In [52]:
df1 = pd.DataFrame({'consumption': [10.51, 103.11, 55.48],
                   'co2_emissions': [37.2, 19.66, 1712]},
                   index=['Pork', 'Wheat Products', 'Beef'])

In [53]:
df1.idxmax()

consumption      Wheat Products
co2_emissions              Beef
dtype: object

In [54]:
df1

                consumption  co2_emissions
Pork                  10.51          37.20
Wheat Products       103.11          19.66
Beef                  55.48        1712.00