## Exploring Ebay Car Sales Data

In this project, I've worked on 'Ebay Car sales' dataset of used cars from eBay Kleinanzeigen, cleaned and analyzed to draw business insights.

In [1]:
import pandas as pd
import numpy as np

In [2]:
autos= pd.read_csv("autos.csv", encoding="Latin-1")

In [3]:
autos.head(3)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37

In [4]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

###  Cleaning Column Names

In [5]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [6]:
autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'num_photos', 'postal_code',
       'last_seen']
autos.head()

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_photos,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [7]:
autos.rename({"odometer" : "odometer_km"},axis=1,inplace=True)

In [8]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer_km', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'num_photos', 'postal_code',
       'last_seen'],
      dtype='object')

In [9]:
autos.describe(include= 'all')

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_photos,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-11 22:38:16,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

##### By oberving the columns description it's clear that seller, offer_type, abtest, gearbox, unrepaired_damage columns only has 2 unique columns, so its okay to remove them.

In [10]:
autos.num_photos.value_counts()

0    50000
Name: num_photos, dtype: int64

##### The num_photos column has 0 for every column, so have dropped this column.

In [11]:
autos.drop(['num_photos','seller','offer_type','ab_test','gearbox','unrepaired_damage'], axis=1, inplace=True)

In [12]:
autos.columns

Index(['date_crawled', 'name', 'price', 'vehicle_type', 'registration_year',
       'power_ps', 'model', 'odometer_km', 'registration_month', 'fuel_type',
       'brand', 'ad_created', 'postal_code', 'last_seen'],
      dtype='object')

### Exploring the Odometer and Price Columns

In [13]:
autos.price.head()

0    $5,000
1    $8,500
2    $8,990
3    $4,350
4    $1,350
Name: price, dtype: object

Removed '$' character and converted from object dtype to float dtype.

In [14]:
autos.price = autos.price.str.replace('$','').str.replace(',','').astype(int)
autos.price.head()

0    5000
1    8500
2    8990
3    4350
4    1350
Name: price, dtype: int64

In [15]:
autos.odometer_km.head()

0    150,000km
1    150,000km
2     70,000km
3     70,000km
4    150,000km
Name: odometer_km, dtype: object

In [16]:
autos.odometer_km = autos.odometer_km.str.replace('km','').str.replace(',','').astype(int)
autos.odometer_km.head()

0    150000
1    150000
2     70000
3     70000
4    150000
Name: odometer_km, dtype: int64

In [17]:
print(autos.price.unique().shape)
print(autos.describe())
print(autos.price.value_counts().head(10))

(2357,)
              price  registration_year      power_ps    odometer_km  \
count  5.000000e+04       50000.000000  50000.000000   50000.000000
mean   9.840044e+03        2005.073280    116.355920  125732.700000
std    4.811044e+05         105.712813    209.216627   40042.211706
min    0.000000e+00        1000.000000      0.000000    5000.000000
25%    1.100000e+03        1999.000000     70.000000  125000.000000
50%    2.950000e+03        2003.000000    105.000000  150000.000000
75%    7.200000e+03        2008.000000    150.000000  150000.000000
max    1.000000e+08        9999.000000  17700.000000  150000.000000

       registration_month   postal_code
count        50000.000000  50000.000000
mean             5.723360  50813.627300
std              3.711984  25779.747957
min              0.000000   1067.000000
25%              3.000000  30451.000000
50%              6.000000  49577.000000
75%              9.000000  71540.000000
max             12.000000  99998.000000
0       1421
500      781
1500     734
2500     643
1000     639
1200     639
600      531
800      498
3500     498
2000     460
Name: price, dtype: int64

In [18]:
autos.price.value_counts().sort_index().head(20)

0     1421
1      156
2        3
3        1
5        2
8        1
9        1
10       7
11       2
12       3
13       2
14       1
15       2
17       3
18       1
20       4
25       5
29       1
30       7
35       1
Name: price, dtype: int64

In [19]:
autos.price.value_counts().sort_index(ascending= False).head(30)

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
259000      1
250000      1
220000      1
198000      1
197000      1
194000      1
190000      1
180000      1
175000      1
169999      1
169000      1
163991      1
163500      1
155000      1
151990      1
Name: price, dtype: int64

Given that eBay is an auction site, there could legitimately be items where the opening bid is \$1. So kept \$1 items, but removed anything above \$350,000, since it seems that prices increase steadily to that number and then jump up to less realistic numbers.

In [20]:
autos= autos[autos.price.between(1,35000)]
autos.describe()

,price,registration_year,power_ps,odometer_km,registration_month,postal_code
count,48056.000000,48056.000000,48056.000000,48056.000000,48056.000000,48056.000000
mean,5331.427168,2004.635862,115.353983,126488.263692,5.780256,50904.201452
std,6047.229364,87.023293,200.468409,39140.930914,3.690417,25739.989271
min,1.000000,1000.000000,0.000000,5000.000000,0.000000,1067.000000
25%,1200.000000,1999.000000,71.000000,125000.000000,3.000000,30625.000000
50%,2999.000000,2003.000000,105.000000,150000.000000,6.000000,49635.000000
75%,7200.000000,2008.000000,147.250000,150000.000000,9.000000,71634.000000
max,35000.000000,9999.000000,17700.000000,150000.000000,12.000000,99998.000000

In [21]:
print(autos.odometer_km.unique().shape)
print(autos.describe())
print(autos.odometer_km.value_counts().head(10))

(13,)
              price  registration_year      power_ps    odometer_km  \
count  48056.000000       48056.000000  48056.000000   48056.000000
mean    5331.427168        2004.635862    115.353983  126488.263692
std     6047.229364          87.023293    200.468409   39140.930914
min        1.000000        1000.000000      0.000000    5000.000000
25%     1200.000000        1999.000000     71.000000  125000.000000
50%     2999.000000        2003.000000    105.000000  150000.000000
75%     7200.000000        2008.000000    147.250000  150000.000000
max    35000.000000        9999.000000  17700.000000  150000.000000

       registration_month   postal_code
count        48056.000000  48056.000000
mean             5.780256  50904.201452
std              3.690417  25739.989271
min              0.000000   1067.000000
25%              3.000000  30625.000000
50%              6.000000  49635.000000
75%              9.000000  71634.000000
max             12.000000  99998.000000
150000    31374
125000     5025
100000     2089
90000      1710
80000      1390
70000      1185
60000      1112
50000       963
5000        803
40000       766
Name: odometer_km, dtype: int64

In [22]:
autos[autos["odometer_km"].between(5000,150000)]
autos.describe()

,price,registration_year,power_ps,odometer_km,registration_month,postal_code
count,48056.000000,48056.000000,48056.000000,48056.000000,48056.000000,48056.000000
mean,5331.427168,2004.635862,115.353983,126488.263692,5.780256,50904.201452
std,6047.229364,87.023293,200.468409,39140.930914,3.690417,25739.989271
min,1.000000,1000.000000,0.000000,5000.000000,0.000000,1067.000000
25%,1200.000000,1999.000000,71.000000,125000.000000,3.000000,30625.000000
50%,2999.000000,2003.000000,105.000000,150000.000000,6.000000,49635.000000
75%,7200.000000,2008.000000,147.250000,150000.000000,9.000000,71634.000000
max,35000.000000,9999.000000,17700.000000,150000.000000,12.000000,99998.000000

## Exploring the date columns

#### The date_crawled, last_seen, and ad_created columns are all identified as string values by pandas.

##### date_crawled

In [23]:
autos.date_crawled.describe()

count                   48056
unique                  46405
top       2016-03-22 09:51:06
freq                        3
Name: date_crawled, dtype: object

In [24]:
autos.date_crawled= autos.date_crawled.str[0:10]
autos.date_crawled.head()

0    2016-03-26
1    2016-04-04
2    2016-03-26
3    2016-03-12
4    2016-04-01
Name: date_crawled, dtype: object

In [25]:
autos.date_crawled.value_counts(normalize=True, dropna=False).sort_index()*100

2016-03-05    2.536624
2016-03-06    1.406692
2016-03-07    3.608290
2016-03-08    3.337773
2016-03-09    3.314883
2016-03-10    3.223323
2016-03-11    3.248294
2016-03-12    3.708174
2016-03-13    1.569003
2016-03-14    3.660313
2016-03-15    3.429332
2016-03-16    2.965290
2016-03-17    3.162977
2016-03-18    1.286000
2016-03-19    3.468870
2016-03-20    3.787248
2016-03-21    3.714417
2016-03-22    3.291993
2016-03-23    3.223323
2016-03-24    2.927834
2016-03-25    3.152572
2016-03-26    3.237889
2016-03-27    3.104711
2016-03-28    3.479274
2016-03-29    3.418928
2016-03-30    3.375229
2016-03-31    3.177543
2016-04-01    3.360663
2016-04-02    3.543782
2016-04-03    3.868404
2016-04-04    3.658232
2016-04-05    1.292242
2016-04-06    0.318379
2016-04-07    0.141502
Name: date_crawled, dtype: float64

##### ad_created

In [26]:
autos.ad_created.describe()

count                   48056
unique                     75
top       2016-04-03 00:00:00
freq                     1870
Name: ad_created, dtype: object

In [27]:
autos.ad_created= autos.ad_created.str[0:10]
autos.ad_created.value_counts(normalize=True, dropna=False).sort_index()*100

2015-08-10    0.002081
2015-09-09    0.002081
2015-11-10    0.002081
2015-12-05    0.002081
2015-12-30    0.002081
2016-01-03    0.002081
2016-01-07    0.002081
2016-01-10    0.004162
2016-01-13    0.002081
2016-01-14    0.002081
2016-01-16    0.002081
2016-01-22    0.002081
2016-01-27    0.006243
2016-01-29    0.002081
2016-02-01    0.002081
2016-02-02    0.004162
2016-02-05    0.004162
2016-02-07    0.002081
2016-02-08    0.002081
2016-02-09    0.002081
2016-02-11    0.002081
2016-02-12    0.004162
2016-02-14    0.004162
2016-02-16    0.002081
2016-02-17    0.002081
2016-02-18    0.004162
2016-02-19    0.006243
2016-02-20    0.004162
2016-02-21    0.006243
2016-02-22    0.002081
                ...
2016-03-09    3.323206
2016-03-10    3.192109
2016-03-11    3.283669
2016-03-12    3.691527
2016-03-13    1.702181
2016-03-14    3.520892
2016-03-15    3.406442
2016-03-16    3.017313
2016-03-17    3.123439
2016-03-18    1.356750
2016-03-19    3.360663
2016-03-20    3.793491
2016-03-21    3.731064
2016-03-22    3.277426
2016-03-23    3.208756
2016-03-24    2.921591
2016-03-25    3.167138
2016-03-26    3.242051
2016-03-27    3.094307
2016-03-28    3.493841
2016-03-29    3.410604
2016-03-30    3.356501
2016-03-31    3.183786
2016-04-01    3.360663
2016-04-02    3.510488
2016-04-03    3.891293
2016-04-04    3.697769
2016-04-05    1.163226
2016-04-06    0.326702
2016-04-07    0.126935
Name: ad_created, Length: 75, dtype: float64

##### last_seen

In [28]:
autos.last_seen.describe()

count                   48056
unique                  38206
top       2016-04-07 06:17:27
freq                        8
Name: last_seen, dtype: object

In [29]:
autos.last_seen= autos.last_seen.str[0:10]
autos.last_seen.value_counts(normalize=True, dropna=False).sort_index()*100

2016-03-05     0.108207
2016-03-06     0.436990
2016-03-07     0.538955
2016-03-08     0.749126
2016-03-09     0.965540
2016-03-10     1.075828
2016-03-11     1.246462
2016-03-12     2.393041
2016-03-13     0.894789
2016-03-14     1.263110
2016-03-15     1.598136
2016-03-16     1.645996
2016-03-17     2.819627
2016-03-18     0.734560
2016-03-19     1.591893
2016-03-20     2.064258
2016-03-21     2.066339
2016-03-22     2.147495
2016-03-23     1.860330
2016-03-24     1.981022
2016-03-25     1.926919
2016-03-26     1.681372
2016-03-27     1.569003
2016-03-28     2.099634
2016-03-29     2.247378
2016-03-30     2.490844
2016-03-31     2.382637
2016-04-01     2.291077
2016-04-02     2.501249
2016-04-03     2.528300
2016-04-04     2.465873
2016-04-05    12.400117
2016-04-06    22.134593
2016-04-07    13.099301
Name: last_seen, dtype: float64

As date_crawled, ad_created, and last_seen columns are an object dtype to calculate the distribution I followed some steps:
1. To include missing values, used dropna=False in Series.value_counts() method.
2. To use percentages instead of counts, used normalize=True in Series.value_counts() method.
3. For ranking date in ascending order have used Series.sort_index() method.

### Dealing with Incorrect Registration Year Data

In [30]:
autos.registration_year.describe()

count    48056.000000
mean      2004.635862
std         87.023293
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

As registration_year is a float64 dtype column, Series.describe() method will provide all the numerical information along with min, max, std, mean and much more.

##### The highest and lowest acceptable values for the registration_year column is 2016 and 1900 respectively. As cars weren't invented before 1900s so lowest bound is 1900 and last_seen highest column value is 2016.

In [31]:
autos.registration_year =autos[autos.registration_year.between(1900,2016)]

In [32]:
autos.registration_year.describe()

count          46179
unique            34
top       2016-04-03
freq            1794
Name: registration_year, dtype: object

In [33]:
autos.registration_year.value_counts(normalize= True)

2016-04-03    0.038849
2016-03-20    0.038026
2016-03-21    0.037073
2016-03-12    0.036987
2016-04-04    0.036705
2016-03-14    0.036380
2016-03-07    0.036315
2016-04-02    0.035514
2016-03-19    0.034561
2016-03-28    0.034540
2016-03-15    0.034366
2016-03-29    0.034193
2016-03-30    0.033868
2016-04-01    0.033738
2016-03-08    0.033630
2016-03-09    0.033305
2016-03-22    0.032764
2016-03-11    0.032396
2016-03-10    0.032287
2016-03-26    0.032244
2016-03-23    0.032222
2016-03-17    0.031789
2016-03-31    0.031724
2016-03-25    0.031421
2016-03-27    0.030728
2016-03-16    0.029537
2016-03-24    0.029407
2016-03-05    0.025250
2016-03-13    0.015895
2016-03-06    0.014184
2016-04-05    0.012820
2016-03-18    0.012755
2016-04-06    0.003097
2016-04-07    0.001429
Name: registration_year, dtype: float64

### Exploring Price by Brand

In [34]:
autos.brand.unique()

array(['peugeot', 'bmw', 'volkswagen', 'smart', 'ford', 'chrysler',
       'seat', 'renault', 'mercedes_benz', 'audi', 'sonstige_autos',
       'opel', 'mazda', 'mini', 'toyota', 'dacia', 'nissan', 'jeep',
       'saab', 'volvo', 'mitsubishi', 'fiat', 'skoda', 'subaru', 'kia',
       'porsche', 'citroen', 'hyundai', 'chevrolet', 'honda', 'daewoo',
       'suzuki', 'trabant', 'jaguar', 'land_rover', 'alfa_romeo', 'lada',
       'rover', 'daihatsu', 'lancia'], dtype=object)

In [35]:
autos.brand.value_counts(normalize=True)

volkswagen        0.214417
opel              0.109789
bmw               0.108311
mercedes_benz     0.094785
audi              0.084589
ford              0.070168
renault           0.048360
peugeot           0.029757
fiat              0.026261
seat              0.019144
skoda             0.016231
nissan            0.015420
mazda             0.015357
smart             0.014441
citroen           0.014275
toyota            0.012694
hyundai           0.010051
sonstige_autos    0.009156
volvo             0.009135
mini              0.008698
mitsubishi        0.008282
honda             0.008053
kia               0.007179
alfa_romeo        0.006659
suzuki            0.005951
chevrolet         0.005681
chrysler          0.003517
porsche           0.003246
dacia             0.002684
daihatsu          0.002539
subaru            0.002143
jeep              0.002102
land_rover        0.001706
saab              0.001644
daewoo            0.001581
jaguar            0.001477
trabant           0.001415
rover             0.001353
lancia            0.001144
lada              0.000603
Name: brand, dtype: float64

There are lots of brands that don't have a significant percentage of listings, so limited analysis to brands representing more than 5% of total listings.

In [36]:
brand_counts = autos.brand.value_counts(normalize=True)
common_brands = brand_counts[brand_counts > .05].index
print(common_brands)

Index(['volkswagen', 'opel', 'bmw', 'mercedes_benz', 'audi', 'ford'], dtype='object')

In [37]:
aggregate_data={}

for i in common_brands:
    
    selected_rows= autos[autos.brand == i]
    new_values= selected_rows.price.mean()
    aggregate_data[i]= new_values
    
aggregate_data

{'audi': 8273.284132841329,
 'bmw': 7679.428626320845,
 'ford': 3562.143534994069,
 'mercedes_benz': 7620.358726673985,
 'opel': 2937.7755875663383,
 'volkswagen': 5215.609569099379}

Of the top 5 brands, there is a distinct price gap:

1. Audi, BMW and Mercedes Benz are more expensive
2. Ford and Opel are less expensive
3. Volkswagen is in between - this may explain its popularity, it may be a 'best of 'both worlds' option.

### Storing Aggregate Data in a DataFrame

In [38]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48056 entries, 0 to 49999
Data columns (total 14 columns):
date_crawled          48056 non-null object
name                  48056 non-null object
price                 48056 non-null int64
vehicle_type          43483 non-null object
registration_year     46179 non-null object
power_ps              48056 non-null int64
model                 45630 non-null object
odometer_km           48056 non-null int64
registration_month    48056 non-null int64
fuel_type             44047 non-null object
brand                 48056 non-null object
ad_created            48056 non-null object
postal_code           48056 non-null int64
last_seen             48056 non-null object
dtypes: int64(5), object(9)
memory usage: 5.5+ MB

In [39]:
series_val= pd.Series(aggregate_data)
series_val

audi             8273.284133
bmw              7679.428626
ford             3562.143535
mercedes_benz    7620.358727
opel             2937.775588
volkswagen       5215.609569
dtype: float64

In [40]:
dataFrame= pd.DataFrame(series_val, columns=["mean_price"])
dataFrame

                mean_price
audi           8273.284133
bmw            7679.428626
ford           3562.143535
mercedes_benz  7620.358727
opel           2937.775588
volkswagen     5215.609569